.pm-main-container {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
}

.pm-g-dex-col {
  height: $height-btn-square;
  text-align: center;
}

.pm-g-row-1 {
  min-height: 40px;
  line-height: 40px;
  margin: 0 auto;
}

.pm-g-row-2 {
  min-height: 60px;
  line-height: 60px;
  margin: 0 auto;
}
