$grey-1: #F8F8F8;
$grey-2: #F0F0F0;
$grey-3: #DADADA;
// $grey-3: #C3C3C3;
// $grey-4: #B9B9B9;
$grey-4: #999999;
$grey-5: #797979;
$grey-6: #4D4D4D;

$green-1: #89F7EA;
$green-2: #1C8691;

$yellow-1: #ffe384;

$color-normal-1: #EBEBEB;
$color-normal-2: #7E7E6D;
$color-normal-3: #AAAAA0;
$color-fairy-1: #ffdede;
$color-fairy-2: #ff84b5;
$color-fairy-3: #ffb4ca;
$color-steel-1: #aecfcc;
$color-steel-2: #565b68;
$color-steel-3: #93a5b7;
$color-dark-1: #0e043d;
$color-dark-2: #351d0e;
$color-dark-3: #28151e;
$color-dragon-1: #6133f9;
$color-dragon-2: #140950;
$color-dragon-3: #3a1ea3;
$color-ghost-1: #a691ae;
$color-ghost-2: #312573;
$color-ghost-3: #79619f;
$color-rock-1: #ffebce;
$color-rock-2: #968f69;
$color-rock-3: #c8ba92;
$color-bug-1: #acffde;
$color-bug-2: #365f34;
$color-bug-3: #7fc29d;
$color-psychic-1: #ffebd4;
$color-psychic-2: #fa3470;
$color-psychic-3: #ff6d9a;
$color-flying-1: #c8d7ff;
$color-flying-2: #3fd2ff;
$color-flying-3: #81e1ff;
$color-ground-1: #f4e5bb;
$color-ground-2: #c4934a;
$color-ground-3: #dfc399;
$color-poison-1: #bdd8ff;
$color-poison-2: #573157;
$color-poison-3: #ab93bb;
$color-fighting-1: #e72d11;
$color-fighting-2: #a32115;
$color-fighting-3: #dd3c2d;
$color-ice-1: #e2ffd7;
$color-ice-2: #6adadb;
$color-ice-3: #88e5e4;
$color-grass-1: #fffb9c;
$color-grass-2: #65b736;
$color-grass-3: #a1db81;
$color-thunder-1: #fcffac;
$color-thunder-2: #ffd229;
$color-thunder-3: #ffd229;
$color-water-1: #9ff4ec;
$color-water-2: #4572f0;
$color-water-3: #8ac3fc;
$color-fire-1: #ffe8b8;
$color-fire-2: #e55000;
$color-fire-3: #ff7f44;

$height-btn-square: 65px;
$height-bar-head: 2.2rem;
$height-bar-footer: 5rem;

$width-btn-square: 60px;

$grid-responsive-sm-break:        567px !default;  // smaller than landscape phone
$grid-responsive-md-break:        767px !default;  // smaller than portrait tablet
$grid-responsive-lg-break:        1024px !default; // smaller than landscape tablet

// Fonts
// -------------------------------
$font-xxs: 0.45rem;
$font-xs: 0.6rem;
$font-sm: 0.8rem;
$font-md: 1rem;
$font-lg: 1.25rem;
$font-xl: 1.6rem;
$font-xxl: 2.6rem;
